name: Portfolio Deployment

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Update and upgrade apt packages
        run: |
          echo ${{ secrets.SUDO_PASSWORD }} | sudo apt update && sudo apt upgrade -y
