name: Server Hardening

on:
  schedule:
    - cron: "0 0 * * *" # Run every day at midnight
  workflow_dispatch: # Allow manual triggering

jobs:
  hardening:
    runs-on: self-hosted
    steps:
      - name: Update and upgrade apt packages
        run: |
          echo ${{ secrets.SUDO_PASSWORD }} | sudo -S apt update && sudo -S apt upgrade -y
      - name: Remove unnecessary packages
        run: |
          echo ${{ secrets.SUDO_PASSWORD }} | sudo -S apt autoremove -y
      - name: Update badge in README.md
        run: |
          sed -i 's/.*Server Hardening.*/[![Server Hardening](https:\/\/github.com\/${{ github.repository }}\/actions\/workflows\/server_hardening.yml\/badge.svg)](https:\/\/github.com\/${{ github.repository }}\/actions\/workflows\/server_hardening.yml)/' README.md
