name: Server Hardening

on:
  schedule:
    - cron: "0 0 * * *" # Run every day at midnight
  workflow_dispatch: # Allow manual triggering

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Update and upgrade apt packages
        run: |
          echo ${{ secrets.SUDO_PASSWORD }} | sudo -S apt update && sudo -S apt upgrade -y

      - name: Add badge to README.md
        run: |
          echo "[![Server Hardening](https://github.com/${{ github.repository }}/actions/workflows/server_hardening.yml/badge.svg)](https://github.com/${{ github.repository }}/actions/workflows/server_hardening.yml)" >> README.md
