name: Server Hardening

on:
  schedule:
    - cron: "0 0 * * *" # Run every day at midnight
  workflow_dispatch: # Allow manual triggering

jobs:
  hardening:
    runs-on: self-hosted
    steps:
      - name: Update, upgrade & clean System
        run: echo "${{ secrets.SUDO_PASSWORD }}" | sudo -S /home/admin/system_update.sh
